@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.font-poppins {
  font-family: "Poppins", serif;
}
.font-anton {
  font-family: "Anton", serif;
}

.kbd {
  color: black;
  background-color: white;
  padding: 6px 16px;
  margin: 2px;
  border-radius: 5px;
  font-size: 1.6rem;
}
.shake {
  animation: shake .5s ease;
}

@keyframes shake {
  0%{
    transform: translateX(8px);
  }
  25%{
    transform: translateX(-8px);    
  }
  50%{
    transform: translateX(8px);
  }
  75%{
    transform: translateX(-8px);    
  }
  100%{
    transform: translateX(8px);
  }
}